* {
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0 auto;
}
.logo {
  width: 140px;
  margin-left: 15px;
}
header {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  /*background-color: rgba(120, 120, 100, 0.5);*/
}
header nav.nav {
  overflow: hidden;
}
header nav.nav ul {
  list-style: none;
  width: 100%;
  margin: 20px 0 0 0 0;
  padding: 0 0 0 0px ;
  background: lightgrey;
  position: relative;
}
header nav.nav ul > li {
  font-weight: bold;
  padding: 8px;
}
header nav.nav ul > li > li:before {
  content: '>';
}
header nav.nav ul > li a {
  text-decoration: none;
  color: black;
}
header nav.nav ul > li a:hover {
  color: grey;
}
header ul:before {
  content: '';
  width: 0px;
  border: transparent solid;
  border-bottom-color: lightgrey;
  border-width: 20px;
  position: absolute;
  top: -35px;
  right: 25px;
  display: block;
}
.contactcontent {
  overflow: hidden;
  margin-top: 20px;
}
.contacttext {
  padding: 10px;
  padding-top: 0;
  box-sizing: border-box;
}
.contacttext h1 {
  margin-top: 0;
}
.peopleimg {
  width: 100%;
  padding: 0;
  margin: 0;
}
figure {
  padding: 0;
  margin: 0;
}
.textbox {
  padding: 10px;
}
.theform {
  padding: 0px;
}
.theform form {
  background: lightgrey;
  overflow: hidden;
  padding: 15px;
}
.theform form p {
  text-align: center;
}
.theform form input,
.theform textarea {
  width: 100%;
  font-size: 12pt;
  line-height: 25pt;
  border: 1px solid lightgrey;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  margin-top: 10px;
  height: 35px;
  box-sizing: border-box;
}
.theform input.send {
  border: none;
  background-color: ;
  color: #000;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.theform textarea {
  height: 70px;
}
.workpage {
  text-align: center;
}
.hamburgericon {
  position: absolute;
  top: 10px;
  right: 20px;
  display: inline;
  width: 50px;
}
.nav {
  display: none;
}
.nav.open {
  display: block;
}
.imgwrapper {
  width: 100%;
}
.allimg {
  margin: -10px;
  overflow: hidden;
}
main img.inner {
  list-style: none;
  padding: 0;
  float: left;
  margin: 10px;
  width: calc(25% - 10px);
}
main ul.workinggrid {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
main ul.workinggrid li {
  display: none;
}
main ul.workinggrid li.active {
  display: inline-block;
}


main div > nav.select {
  overflow: hidden;
}
main div > nav.select ul {
  list-style: none;
  width: 100%;
  margin: 20px 0 0 0 0;
  padding: 0 0 0 0px ;
  background: lightgrey;
  position: relative;
}
main div > nav.select ul > li {
  font-weight: bold;
  padding: 8px;
  float: left;
}
main div > nav.select ul > li > li:before {
  content: '>';
}
main div > nav.select ul > li a {
  text-decoration: none;
  color: black;
}
main div > nav.select ul > li a:hover {
  color: grey;
}
li.listitem {
  position: relative;
  overflow: hidden;
}
li.listitem img {
  width: 100%;
}
p.imagetext {
  position: absolute;
  bottom: 3px;
  left: 0;
  padding: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: calc(100% - 20px);
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}
li.listitem:hover p.imagetext {
  opacity: 1;
}
footer {
  clear: left;
  margin-top: 50px;
  background-color: #e2dde1;
  overflow: hidden;
  padding: 25px;
}
footer .footerCol {
  padding-left: ;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul .liSize {
  height: 60px;
}
footer ul .liSize p {
  width: 100%;
}
footer ul li {
  clear: both;
  width: 100%;
}
footer ul li img {
  width: 20px;
  margin-right: 10px;
}
footer ul li p {
  float: left;
  margin: 0;
  position: relative;
  width: 180px;
}
#thisisus img {
  width: 100%;
}
/*-------------------------------------- 640PX -------------------------------------------*/
@media (min-width: 640px) {
  header {
    padding-bottom: 10px;
    background-color: white;
  }
  header ul:before {
    display: none;
  }
  header nav.nav {
    margin-right: 20px;
    margin-top: 0px;
    overflow: hidden;
    float: right;
    display: inline;
  }
  header nav.nav ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    background: none;
    margin: 0 0 0 0;
  }
  header nav.nav ul > li {
    float: left;
    margin-left: 30px;
    font-weight: bold;
    padding: 8px;
  }
  header nav.nav ul > li a {
    text-decoration: none;
    color: black;
  }
  header nav.nav ul > li a :hover {
    color: grey;
  }
  .hamburgericon {
    display: none;
  }
  .nav {
    display: block;
  }
  main ul.workinggrid {
    margin: 0;
    width: 100%;
  }
  main ul.workinggrid li.listitem {
    float: left;
    width: 49%;
    margin-left: 2%;
  }
  main ul.workinggrid li.listitem:nth-child(2n+1) {
    clear: left;
    margin-left: 0;
  }
  footer .footerCol {
    padding-left: 3%;
    width: 33.3%;
    float: left;
    padding: 0;
    margin: 0;
  }
  .footerCol + .footerCol {
    border-left: 1px solid black;
  }
  #thisisus div {
    overflow: hidden;
    margin-top: 16px;
  }
  #thisisus img {
    float: left;
    width: 20%;
    margin-top: 1%;
  }
  #thisisus .img_description {
    float: left;
    width: 78%;
    margin-left: 2%;
    margin-bottom: 10px;
  }
}
/*-------------------------------------- 960PX -------------------------------------------*/
@media (min-width: 960px) {
  body {
    margin: 0 auto;
    width: 960px;
  }
  main ul.workinggrid li.listitem {
    float: left;
    width: 33%;
    margin-left: 0.5%;
  }
  main ul.workinggrid li.listitem:nth-child(2n+1) {
    clear: none;
    margin-left: 0.5%;
  }
  main ul.workinggrid li.listitem:nth-child(3n+1) {
    margin-left: 0;
    clear: left;
  }
  main .contacttext {
    float: left;
    width: 66.667%;
  }
  main .theform {
    float: left;
    width: 33.333%;
  }
  main #thisisus img {
    float: left;
    width: 20%;
    margin-top: 1%;
  }
  main #thisisus .img_description {
    margin-top: 33px;
  }
}
